header {
  background-color: var(--dark-bg-color);
}

header * {
  color: var(--main-font-color) !important;
}

.navbar {
  text-align: center;
}

.nav-item {
  padding: 2px 10px;
}

.nav-link a, .dropdown-toggle {
  font-family: var(--main-font-family);
  text-decoration: none;
  cursor: pointer;
}

.dropdown-menu {
  background-color: var(--dark-bg-color);
  text-align: center;
}

.dropdown-item:hover {
  background-color: inherit !important;
}


/* ********************************************************** */
/* Responsive view styling starts */

/***###*** MEDIA QUERIES ***###***/

/********** Large devices only **********/
@media (min-width: 1200px) {
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  .dropdown-menu {
    border: none;
    outline: none;
  }

}

/********** Large Mobile devices only **********/
@media (max-width: 450px) {

}

/********** Medium Mobile devices only **********/
@media (max-width: 380px) {
}

/********** small Mobile devices only (eg: Iphone 4, ) **********/
@media (max-width: 330px) {
}

/* Responsive view styling ends */
/* ********************************************************** */
