

.recipe-search-comp .sec-head h1::after {
  right: 46%;
}

.search-box-div {
  width: 100%;
}

.search-box {
  width: 50%;
  padding: 6px 12px;
  border-radius: 5px;
  border: 2px solid var(--main-theme-color);
}

.search-btn {
  text-transform: uppercase;
  color: var(--main-theme-color);
  font-weight: 500;
  background-color: #fff;
  border-radius: 5px;
  padding: 6px 12px;
  border: 2px solid var(--main-theme-color);
}

.search-btn:hover {
  color: #fff;
  background-color: var(--main-theme-color);
}

.recipe-div {
  min-height: 200px;
}

.card-col {
  /* margin: 0px auto; */
}

.item-card {
  cursor: pointer;
  border-radius: 5px;
  padding: 10px;
  background-color: #eee;
  font-size: var(--sm-font-size);
}

.item-desc-div {
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  padding: 5px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px;
}

.item-img-div figcaption {
  font-size: 1.2em;
  text-transform: capitalize;
  font-style: italic;
}

.item-desc-div .item-desc {
  width: 50%;
}

.item-desc-div div:nth-child(1) {
  border-right: 1px solid #aaa;
}
